<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deliveryServicemodel.MemberDAO">
  
 <insert id = "joinService" parameterType="deliveryServicemodel.MemberVO">
 	insert into DELIVERY_MEMBER values(#{id},#{pw},#{gender},#{major},#{nation},#{email},#{helper_check})
 </insert>
 
 <select id = "loginService" parameterType="deliveryServicemodel.MemberVO"
  resultType = "model.MemberVO">
 	select * from DELIVERY_MEMBER where = #{id} and pw = #{pw}
 </select>
 
  <insert id = "ExchangeService" parameterType="deliveryServicemodel.ExchangeVO">
 	insert into EXCAHNGE values(exchange_num_seq,#{exid},#{title},#{content},sysdate,#{deadline},#{ex_finish})
 </insert>   
 
 <select id = "s" parameterType="deliveryServicemodel.MemberVO">
 	select * from delivery_member
 </select>

</mapper>



