<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deliveryService.model.MemberDAO">

	<insert id="joinService" parameterType="deliveryService.model.MemberVO">
		insert into DELIVERY_MEMBER
		values(#{id},#{pw},#{gender},#{major},#{nation},#{email},'N')
	</insert>

     <update id="HelperCheck" parameterType="deliveryService.model.MemberVO">
		update DELIVERY_MEMBER set HELPER_CHECK = #{helper_check} where id = #{id}
	</update>
	
	<select id="loginService"
		parameterType="deliveryService.model.MemberVO"
		resultType="deliveryService.model.MemberVO">
		select * from DELIVERY_MEMBER where id = #{id} and pw =	#{pw}
	</select>

	<insert id="ExchangeService"
		parameterType="deliveryService.model.ExchangeVO">
		insert into EXCAHNGE
		values(exchange_num_seq.nextval,#{exid},#{title},#{content},sysdate,#{deadline},#{ex_finish},#{exfilename})
	</insert>

	<!-- 심부름 게시글 작성 -->
	<insert id="requestService"
		parameterType="deliveryService.model.DeliveryBoardVO">
		insert into delivery_board values(board_num_seq.nextval,
		#{title},
		#{helper_gender},
		#{helper_exception},
		#{place},
		#{money},
		#{separation},
		#{content},
		sysdate,
		#{deadline},
		#{bid},
		null,
		null,
		null)
	</insert>

	<!-- 심부름 댓글 작성 -->
	<insert id="writeComment"
		parameterType="deliveryService.model.DeliveryCommentVO">
		insert into delivery_comment
		values(comment_num_seq.nextval,#{cnum},#{dcid},#{content},#{money},sysdate)
	</insert>
	
	<!-- 심부름 댓글 불러오기 -->
	<select id="Scomment"
		parameterType="deliveryService.model.DeliveryCommentVO"
		resultType="deliveryService.model.DeliveryCommentVO">
		select * from DELIVERY_COMMENT 
	</select>


	<!-- 물물교환 댓글 작성 -->
	<insert id="writeExComment"
		parameterType="deliveryService.model.ExchangeCommentVO">
		insert into exchange_comment
		values(ex_comment_num_seq.nextval,#{exnum},#{excid},#{content},sysdate)
	</insert>
	
	
	<!-- 문의글 작성 -->
	<insert id="writeInquiry"
		parameterType="deliveryService.model.InquiryVO">
		insert into inquiry
		values(inquiry_num_seq.nextval,#{send_id},#{receive_id},#{content},sysdate)
	</insert>
	
	
	
	<!-- 심부름 게시글 전체 보기 -->
	<select id="selectDeliveryB"
	resultType="deliveryService.model.DeliveryBoardVO">
		select * from delivery_board
	</select>
	
	
	
	<!-- 심부름 게시글 카테고리별 보기 -->
	<select id="selectDeliveryCate" 
	resultType="deliveryService.model.DeliveryBoardVO">
		select * from delivery_board where separation =#{separation}
	</select>
	
	<select id="viewDelivery" resultType="deliveryService.model.DeliveryBoardVO">
		select * from delivery_board where num = #{num}
	</select>
	
	
	<!-- 이메일 중복체크 -->
	<select id="emailDupleCheck" resultType="deliveryService.model.MemberVO">
		select email from delivery_member where id = #{id}
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="IdCheck" resultType="deliveryService.model.MemberVO">
		select * from delivery_member where id=#{id}
	</select>
	
	
	
</mapper>



