<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>joinService</servlet-name>
  	<display-name>joinService</display-name>
  	<description></description>
  	<servlet-class>deliveryService.controller.joinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>dfadf</servlet-name>
  	<display-name>dfadf</display-name>
  	<description></description>
  	<servlet-class>deliveryService.controller.dfadf</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginService</servlet-name>
  	<display-name>loginService</display-name>
  	<description></description>
  	<servlet-class>deliveryService.controller.loginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExchangeService</servlet-name>
  	<display-name>ExchangeService</display-name>
  	<description></description>
  	<servlet-class>deliveryService.controller.ExchangeService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckService</servlet-name>
  	<display-name>CheckService</display-name>
  	<description></description>
  	<servlet-class>deliveryService.controller.CheckService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HelperCheck</servlet-name>
  	<display-name>HelperCheck</display-name>
  	<description></description>
  	<servlet-class>deliveryService.controller.HelperCheck</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>joinService</servlet-name>
  	<url-pattern>/joinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dfadf</servlet-name>
  	<url-pattern>/dfadf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginService</servlet-name>
  	<url-pattern>/loginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExchangeService</servlet-name>
  	<url-pattern>/ExchangeService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckService</servlet-name>
  	<url-pattern>/CheckService</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>HelperCheck</servlet-name>
  	<url-pattern>/HelperCheck</url-pattern>
  </servlet-mapping>
</web-app>
