@charset "EUC-KR";
.topmenu {
    height: 54px;
    border-bottom: 1px solid orange;
    background-color: orange;
    text-align: center;
    color: white;
    line-height: 50px;
}

section{
	margin: auto;
	min-width: 460px;
	max-width: 750px;
}
.btngo{
	width: 165px;
    height: 48px;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: orange;
    color: white;
    border: none;
    text-align: center;
}
.bbtngo{
	width: 165px;
    height: 48px;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: orange;
    color: white;
    border: none;
    text-align: center;
}
.go{
	text-align: center;
}
.btngo:hover{
	width: 165px;
	height: 48px;
	font-size: 18px;
	font-weight: bolder;
	cursor: pointer;
}
p{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.checkbox{
	text-align: center;
	cursor: pointer;
}
.checkbox input{
	height: 20px;
	width: 20px
}
.fie1{
	/* border: solid orange;*/
}
.logo{
	height: 25%;
	width: 25%;
}
.btngo:hover{
	width: 165px;
	height: 48px;
	font-size: 18px;
	font-weight: bolder;
	cursor: pointer;
}
/**/
html, body {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
}

body.dimmed::before {
   content: '';
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: rgba(255, 255, 255, 0.75);
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
}

.container {
   opacity: 0.5;
}

.popup {
   z-index: 1;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 800px;
   max-width: 800px;
   background-color: #fff;
   border-radius: 15px;
   box-shadow: 0 2px 55px -25px rgb(0 0 0/ 100%);
   height:800px;
   
}

.popup>.title {
   border-radius: 15px 15px 0 0;
   min-height: 40px;
   color: #fff;
   background-color: #4361ee;
   padding: 10px 15px;
   padding-top: 15px;
   box-sizing: border-box;
   font-weight: bold;
   font-size: 20px;
}

.popup>.content {
   padding: 20px;
   padding-top: 35%;
   box-sizing: border-box;
   font-size: 20px;
   text-align: center;
}

.popup>.cmd {
   bottom: 0;
   min-height: 40px;
   padding: 15px 15px;
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   min-height: 40px;
   text-align: right;
}

.popup>.cmd .button {
   border-radius: 8px;
   padding: 5px 10px;
   border: 1px solid #aaa;
}

.popup>.cmd .button:hover {
   color: #fff;
   background-color: #000;
   border-color: #000;
}
.container{
	opacity: 0.5;
}
